* {
  margin: 0;
  padding: 0;
  font-family: "Pretendard-Regular";

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  ul,
  li {
    margin: 0;
  }

  a {
    text-decoration: none;
    &:visited,
    &:link {
      color: #369;
    }
  }
}

button {
  &:first-child {
    width: 5rem;
    padding: 0.5rem;
    font-size: 1rem;
    margin-left: auto;
    border: none;
    background: #369;
    color: #fff;
    border-radius: 5px;
  }
}

.demo-con {
  width: 100%;
  min-height: 100dvh;
  color: #369;
  background: #ffe4d2;
  height: 100%;

  h1 {
    font-family: "Binggrae";
    &.highlighted {
      position: relative;
      padding: 1rem 0;
    }
  }

  .wrap {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .grass-con {
    &.top {
      position: fixed;
      left: 8rem;
      top: 4rem;
      width: 19rem;
      height: 13rem;

      background: url("../images/grass.png");
      background-repeat: no-repeat;
      transform: scale(2) rotate(180deg);
      background-position: center;
      background-size: contain;
    }
    &.btm {
      position: fixed;
      right: 10rem;
      bottom: 4rem;
      width: 20rem;
      height: 15rem;

      background: url("../images/grass.png");
      background-repeat: no-repeat;
      transform: scale(2);
      background-position: center;
      background-size: contain;
    }
  }
}

.grass-con {
  position: fixed;
  right: 0rem;
  bottom: 0;
  width: 25rem;
  height: 15rem;

  background: url("../images/grass.png");
  background-repeat: no-repeat;
}

@media screen and (min-width: 501px) {
  .demo-con {
    &.start {
      .for-pc {
        height: 100dvh;
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;
        padding: 0 1rem;
        line-height: 1.4;

        h1 {
          font-size: 1.4rem;
        }
      }
      .wrap {
        display: none;
      }

      .grass-con {
        &.top {
          top: -2rem;
          left: 0;
          width: 19rem;
          height: 6rem;
        }

        &.btm {
          right: 0;
          bottom: 0rem;
          width: 18rem;
          height: 6rem;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) and (orientation: portrait) {
  .demo-con {
    .grass-con {
      &.top {
        top: -7rem;
      }

      &.btm {
        bottom: -10rem;
      }
    }

    &.start {
      .for-pc,
      .for-land {
        display: none;
      }
      .wrap {
        display: flex;
        h1 {
          font-family: "BinggraeMelona-Bold";
        }
      }
    }

    .wrap {
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 2.2rem;
        &.startBtn {
          margin: 1rem auto;
          border: 1px solid;
          padding: 0.5rem 2rem;
          border-radius: 10px;
          background: #fff;
          a {
            font-size: 1.5rem;
            font-family: "BinggraeMelona-Bold";
          }
        }
      }
    }

    h1 {
      margin: 3rem auto 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .alphabet-lists {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;
      margin: 2rem auto;

      .box {
        width: auto;
        border: 1px solid #eee;
        background: #fff;
        border-radius: 1rem;
        text-align: center;
        display: block;
        margin: 1rem auto;
        padding: 1rem 3rem;
        box-shadow: 1px 13px 16px -8px rgba(101, 122, 163, 0.6);
        -webkit-box-shadow: 1px 13px 16px -8px rgba(101, 122, 163, 0.6);
        -moz-box-shadow: 1px 13px 16px -8px rgba(101, 122, 163, 0.6);

        a {
          font-weight: 800;
          font-size: 1.3rem;
          text-transform: capitalize;
          &:visited {
            color: orange !important;
          }
        }
      }
    }
  }

  .alphabet-con {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    min-height: 100vh;

    button {
      &:first-child {
        width: 5rem;
        height: 3rem;
        padding: 0.5rem;
        font-size: 1rem;
        margin-left: auto;
        border: none;
        background: #369;
        color: #fff;
        border-radius: 0;
        position: absolute;
        right: 0;
      }
    }

    h1.letter {
      text-align: center;
      font-size: 2.3rem;
      margin: 4rem auto 0;
      border: 2px solid;
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      background-color: #fff;
    }

    h3.header {
      text-align: center;
      font-size: 1.4rem;
      margin-bottom: 0;
    }

    .pronunciation-con {
      display: flex;
      margin-top: 1.3rem;

      &.highlighted {
        position: relative;
        /*
        &::before {
          content: "2. 알파벳을 읽는 한글입니다";
          position: absolute;
          width: auto;
          height: 1.4rem;
          top: -2rem;
          background-color: #fff;
          padding: 0.2rem;
          border-top: 3px solid rgb(157, 220, 207);
          border-left: 3px solid rgb(157, 220, 207);
          border-right: 3px solid rgb(157, 220, 207);
        }*/
      }
    }

    .pronunciation-wrap {
      width: 90%;
      overflow: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 0rem auto;
      padding: 0 0 2rem;
      background: #fff;
      border-radius: 20px;
      box-shadow: 1px 13px 16px -8px rgba(101, 122, 163, 0.4);
      -webkit-box-shadow: 1px 13px 16px -8px rgba(101, 122, 163, 0.4);
      -moz-box-shadow: 1px 13px 16px -8px rgba(101, 122, 163, 0.4);

      h3.header {
        text-align: center;
        font-size: 1.4rem;
        margin-bottom: 0;
        width: 100%;
        background: #c55f82;
        color: #fff;
        padding: 1rem 0;
        font-weight: 700;
      }

      div.pron-list {
        width: 100%;
        display: flex;
        justify-content: space-around;
        div {
          margin: 1rem 0.5rem;
          width: 100%;
          max-width: 15rem;
          height: 100%;
          max-height: 10rem;
          border: 1px solid;
          border-radius: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          h3 {
            font-size: 1.2rem;
            text-align: center;
          }
        }
      }
    }

    .practice-con {
      min-height: 31rem;
      margin: 2rem auto 6rem;
      padding: 0 0 3rem;
      max-width: 340px;
      width: 90%;
      border: 2px solid;
      display: flex;
      flex-direction: column;
      border-radius: 20px;
      &.highlighted {
        position: relative;

        /*
        &::before {
          content: "3. 학습 단어 읽는 연습을 합니다. 아래에 단어를 추가하여 메모할 수 있습니다. 보이지 않을 경우 화면을 아래로 내려보세요.";
          position: absolute;
          width: 57%;
          z-index: 9999;
          bottom: 7rem;
          height: 100%;
          max-height: 8rem;
          right: 0;
          line-height: 1.7;
          padding: 0.4rem;
          text-align: left;
          background-color: #fff;
          border-top: 3px solid rgb(157, 220, 207);
          border-left: 3px solid rgb(157, 220, 207);
          border-right: 3px solid rgb(157, 220, 207);
        }
        */
      }

      h3.header {
        background: #c55f82;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        padding: 0.5rem 0;
        color: #fff;
      }
    }

    .practice-wrap {
      border-radius: 20px;
      margin: 0.5rem 1rem;
      padding: 1rem 1rem;
      background: #fff;

      &.add {
        display: flex;
        justify-content: space-between;
        button {
          color: #fff;
          background: #369;
          padding: 0.4rem;
          border: none;
        }
      }

      h3 {
        &:nth-child(1) {
          font-size: 1rem;
          color: #333;
          letter-spacing: 0.1rem;
          text-align: center;
          display: flex;
          align-items: center;

          span.read-eng {
            font-size: 2.2rem;
            color: hotpink;
          }
        }

        &.read-kor {
          font-size: 1.2rem;
          color: hotpink;

          span.otherletters {
            font-size: 1rem;
            color: #333;
          }
        }
      }
    }

    .add-container {
      width: 100%;
      height: 13%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      bottom: 0;
      background-color: #fff;
      box-shadow: -2px -16px 5px -3px rgba(179, 186, 196, 0.34);
      -webkit-box-shadow: -2px -16px 5px -3px rgba(179, 186, 196, 0.34);
      -moz-box-shadow: -2px -16px 5px -3px rgba(179, 186, 196, 0.34);
      .add-wrap {
        display: flex;
        flex-direction: column;
        padding: 0 3rem;
        height: 100%;
        h3 {
          padding-top: 0.2rem;
          text-align: center;
        }
        .wrap {
          display: grid;
          grid-template-columns: 1fr auto;
          input,
          button {
            font-size: 1.1rem;
            padding: 0.5rem 1rem;
          }

          input {
            width: 12rem;
          }

          button {
            color: #fff;
            background: #369;
            border: 2px solid #369;
            width: 4.5rem;
          }
        }
      }
    }

    .tutorial-con {
      background: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;

      h1 {
        padding: 0;
        &.letter {
          text-align: center;
          font-size: 2.3rem;
          margin: 0 auto 0;
          border: 3px solid rgb(157, 220, 207);
          border-radius: 50%;
          width: 4rem;
          height: 4rem;
          background-color: #fff;

          &.timid {
            opacity: 0.5;
          }

          &.highlighted {
            opacity: 1;
            position: relative; /*
            &:after {
              font-family: "Pretendard-Regular";
              font-size: 1rem;
              content: "1. 학습 알파벳입니다.";
              position: absolute;
              width: 10rem;
              height: 1.4rem;
              bottom: -2rem;
              left: -3.5rem;
              padding: 0.2rem;
              background-color: #fff;
              border-top: 3px solid rgb(157, 220, 207);
              border-left: 3px solid rgb(157, 220, 207);
              border-right: 3px solid rgb(157, 220, 207);
            }*/
          }
          /*
          &:after {
            font-family: "Pretendard-Regular";
            font-size: 1rem;
            content: "1. 학습 알파벳입니다.";
            position: absolute;
            width: 10rem;
            height: auto;
            bottom: -2rem;
            left: -3rem;
            padding: 0.2rem;
            background-color: #fff;
            border-top: 3px solid rgb(157, 220, 207);
            border-left: 3px solid rgb(157, 220, 207);
            border-right: 3px solid rgb(157, 220, 207);
          }*/
        }
      }

      &.first {
        background: transparent;
      }

      * {
        color: #333;
      }

      div.tuto-wrap {
        text-align: left;
        line-height: 1.7;
        padding: 0 0em 1rem 0;
        .box {
          background: #f7f170;

          a {
            max-width: 10rem;
            border: 1px solid;
            text-align: center;
            display: inline-block;
            padding: 0 0.3rem;
            position: absolute;
            right: 1rem;
          }
        }
        h1 {
          text-align: center;
          padding: 1rem 0;

          &.first {
            margin: 0 auto;
            background: beige;
            width: 100%;
            font-size: 1.1rem;
            padding: 0.3rem 0;
          }

          &.next {
            font-size: 1.2rem;
            border: 1px solid;
          }
        }

        .hide {
          opacity: 0;
          margin: 0;
          padding: 0;
        }

        span.white {
          display: inline-flex;
          justify-content: center;
          align-items: center;
        }

        button {
          margin-left: auto;
          margin-bottom: 1rem;
          display: block;
          color: #333;

          &.highlighted {
            z-index: 999;
            transition: all 0.3s ease;
            border: 2px solid #fff;
            padding: 1rem 0rem;
            font-size: 1rem;
            font-weight: 700;
            background: rgb(157, 220, 207);
            border-radius: 10px;
            display: flex;
            margin: 1rem auto;
            width: 9rem;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .pronunciation-con {
        margin: 1rem 0;
        &.timid {
          opacity: 0.4;
        }

        &.highlighted {
          opacity: 1;
          background: none;
          width: 90%;
          margin: 1rem auto;
          border-radius: 1.35rem;

          .pronunciation-wrap {
            width: 100%;
          }
        }
      }

      .practice-con {
        margin: 0 auto;
        min-height: 14%;
        padding: 0.5rem 0 0;
        &.timid {
          h3.header {
            opacity: 0.4;
          }
          .practice-wrap {
            opacity: 0.4;
          }
        }

        &.highlighted {
          opacity: 1;
          background: none;
          transition: all 0.3s ease;
          border: 3px solid rgb(157 220 207);
          background-color: #fff;
        }
      }

      .add-container {
        &.timid {
          opacity: 0.5;

          &:before {
            opacity: 0.5;
          }
        }
      }
    }
  }
  .highlighted {
    z-index: 999;
    transition: all 0.3s ease;
    border: 3px solid rgb(157 220 207);
    background-color: #fff;
  }
  .tutorial-con {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    &.first {
      background: transparent;
    }

    * {
      color: #333;
    }

    div.tuto-wrap {
      text-align: left;
      line-height: 1.7;
      padding: 0 0em 1rem 0;
      .box {
        background: rgb(157 220 207);
        padding-bottom: 0.4rem;
        padding-left: 1rem;
        padding-right: 2rem;
        height: 7rem;

        a {
          width: 5rem;
          max-width: 10rem;
          border: 1px solid;
          text-align: center;
          display: inline-block;
          padding: 0.3rem;
          position: absolute;
          right: 1rem;
          background: #369;
          color: #fff;
          margin-top: 1rem;
        }

        span.white {
          color: #369;
          background: #fff;
          width: 5rem;
          height: auto;
          border-radius: 0.1rem;
          padding: 0.5rem;
          margin-top: 0.5rem;
          text-align: center;
          font-weight: 600;
          border-radius: 5px;
          box-shadow: 1px 13px 16px -8px rgba(101, 122, 163, 0.6);
          -webkit-box-shadow: 1px 13px 16px -8px rgba(101, 122, 163, 0.6);
          -moz-box-shadow: 1px 13px 16px -8px rgba(101, 122, 163, 0.6);
        }
      }
      h1 {
        text-align: center;
        padding: 1rem 0;

        &.first {
          margin: 0 auto;
          background: rgb(157 220 207);
          width: 100%;
          font-size: 1.1rem;
          padding: 0.3rem 0;
          font-weight: 700;
          border-bottom: 2px solid #fff;
        }

        &.next {
          font-size: 1.2rem;
          border: 1px solid;
        }
      }

      span.nokori {
        display: block;
        margin-left: auto;
        width: 20%;
        position: relative;
        right: 0;
        background: #fff;
      }

      span.explain-wrap {
        display: flex;
        text-align: left;
        padding: 1rem;
        justify-content: space-evenly;
        align-items: center;
        .number {
          border: 1px solid;
          padding: 0.3rem 1rem;
          background: #fff;
          border-radius: 10px;
        }

        span {
          padding: 0.3rem 1rem;
        }
      }

      .hide {
        opacity: 0;
        margin: 0;
        padding: 0;
      }

      span.white {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #369;
        background: #fff;
        width: 5rem;
        height: auto;
        border-radius: 0.1rem;
        padding: 0.5rem;
        text-align: center;
        font-weight: 600;
        border-radius: 10px;
      }

      button {
        margin-left: auto;
        margin-bottom: 1rem;
        display: block;
        color: #333;

        &.highlighted {
          z-index: 999;
          transition: all 0.3s ease;
          border: 3px solid rgb(157, 220, 207);
          padding: 1rem 1.1rem;
          font-size: 1rem;
          font-weight: 700;
          background: rgb(157, 220, 207);
          border-radius: 10px;
        }
      }
    }
    .pronunciation-con {
      margin: 1rem 0;
      &.timid {
        opacity: 0.4;
      }

      &.highlighted {
        opacity: 1;
      }
    }

    .practice-con {
      margin: 1rem 0;
      &.timid {
        .practice-wrap {
          opacity: 0.4;
        }
      }

      &.highlighted {
        opacity: 1;
      }
    }

    .add-container {
      &.timid {
        opacity: 0.5;

        &:before {
          opacity: 0.5;
        }
      }
    }
  }
}
